In [2]:
# Measure Of Central Tendency

In [3]:
# Mean
age = [12,34,56,78,12,43,65,87,23,67,21,63,34,65]

In [5]:
import numpy as np

In [6]:
np.mean(age)

47.142857142857146

In [7]:
np.median(age)

49.5

In [9]:
np.max(age)

87

In [10]:
weight = [45,46,47,48,56,57,58,59,60,55,78,80,56]

In [12]:
np.mean(weight)

57.30769230769231

In [13]:
np.median(weight)

56.0

In [14]:
import seaborn as sns

In [15]:
df = sns.load_dataset('tips')

In [16]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [18]:
head = df.head()

In [29]:
np.mean(df['size'])

2.569672131147541

In [30]:
# Median

In [31]:
np.median(age)

49.5

In [32]:
age = [12,34,56,78,12,43,65,87,23,67,21,63,34,65,100,200]

In [33]:
np.mean(age)

60.0

In [34]:
np.median(age)

59.5

In [35]:
# mode
from scipy import stats

In [36]:
stats.mode(age)

/tmp/ipykernel_103/2474845003.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(age)

ModeResult(mode=array([12]), count=array([2]))

In [38]:
np.median(df['total_bill'])

17.795